/bin/
/target/
/output/
/.settings/
/.externalToolBuilders/
/weka/
/AvveClassify.jar
/avveRun.log
/build.xml
/D_VA_IT_Thema-Subjects_170907.xlsx
/Epubs_mit_Warengruppen_180102.xlsx
/thema01_threshold_10-2.log
/thema02_threshold-50-10.log
/tmp_test_threshold_10-2.arff
/tmp_test_threshold_50-10.arff
/tmp_train_threshold_10-2.arff
/tmp_train_threshold_50-10.arff
/thema03_threshold_10-2.log
/thema04_threshold_10-2-CC.log
/thema05_threshold_10-2-BR-NaiveBayes.log
/thema06_threshold-50-10-BR-NaiveBayes.log
/thema07_threshold_10-2-BR-NaiveBayes_PCutL.log
/thema08_threshold_10-2-BR-NaiveBayes.log
/tmp_test.arff
/tmp_test_threshold_10-2-b.arff
/tmp_train.arff
/tmp_train_threshold_10-2-b.arff
